<html>
	<%- include('./partials/head.ejs') %>
	<body>
		<h1><%= title %></h1>
		<a href="/">Back to Home</a>
		<a href="categories/new">Add Category</a>
		<div class="category-container">
			<% categories.forEach((category) => { %> <%-
			include('./partials/categoryCard.ejs', {category}) %> <% }) %>
		</div>
	</body>
</html>
